<!DOCTYPE html>

<html>

    <header>
        <%- include("header/header.ejs") %>
    </header>

    <h1>Fa &emsp;& &emsp;Mark</h1>
    <h2>2|16|2025</h2>
    <h2>Surin, Thailand</h2>
    <h2><%= a.day %> Days, &emsp;<%= a.hour %> Hours, &emsp;<%= a.minute%> Minutes</h2>
    <h2>____________________</h2>
    <h2 class="specialH2"><br>Welcome!</h2>
    <h2>Fa and Mark will be getting married. We understan not all family and freinds can make it as it is being held far away. Please wish us luck and when we return to the USA we will be holding a small welcomeing party for Fa. </h2>

    <footer>
    <img src="/images/Sukanya.jpg" alt="Error" class="logo" height="200" width="200">
    </footer>
  </body>
    <br>
    <div style="text-align: center;">
        <h2> <u>Reasons Why I love Fa</u></h2>
        <ol type="1" style="display: inline-block; text-align: left;">
            <li>She Is Smart</li>
            <li>She is Beautifull</li>
            <li>She will never give up on me</li>
            <li>I love the way she looks at me</li>
            <li>I love how beautifull her eyes are</li>
            <li>I know she will always be there for me</li>
            <li>I love how I feel complete when we are together</li>
            <li>I love how she likes same things as me (hobby redacted ;) )</li>
            <li>I love how thoughtfull she is</li>
            <li>I love how we could talk without saying a word</li>
            <li>I love the way, how even though we are across the world I still feel like your here with me</li>
            <li>I love how you demand respect but are not controlling</li>
            <li>I love the way your voice sounds over the phone</li>
            <li>I love how you are my soul mate.</li>
            <li>I love the way you handle troubled times.</li>
            <li>I love the way you respect me.</li>
            <li>I love your intelligence.</li>
            <li>I love your ingenuity.</li>
            <li>I love your love for life.</li>
            <li>I love how every time I look at you, you take my breath away.</li>
            <li>I love how I thank God everyday for bringing someone as wonderful as you into my life.</li>
            <li>I love how you love me.</li>
            <li>I love the ways you choose to show your affection for me.</li>
            <li>I love the way you inspire me to be more than I am.</li>
            <li>I love the way you make me feel like anything is possible as long as I’m with you.</li>
            <li>I love the way you make me feel like royalty.</li>
            <li>I love the way you dress.</li>
            <li>I love your understated elegance.</li>
            <li>I love you just the way you are.</li>
            <li>I love the fact that we will grow old together.</li>
            <li>I love your willingness to share everything and most especially your heart with me.</li>
            <li>I love your strength of character.</li>
            <li>I love the way you treat me.</li>
            <li>I love the way you take the time to thank me for doing every day things.</li>
            <li>I love your confidence.</li>
            <li>I love your ability to make me feel better when times are tough.</li>
            <li>I love the way you support me when I’m off track.</li>
            <li>I love the way you take the time to show me how much you love me.</li>
            <li>I love your beautiful hair.</li>
            <li>I love your openness to try new things.</li>
            <li>I love your ability to talk things through.</li>
            <li>I love your greatness.</li>
            <li>I love the fact that you want to be with me and only me.</li>
            <li>I love how I am and feel when I am with you!</li>
            <li>I love how you want to go to school and be an engineer</li>
            <li>I love how you want to support me as well as i want support you</li>
            <li>I love how you look at everyting as a team effort</li>
            <li>I love that you always answer the phone for me.</li>
            <li>I love how yoru the first person I talk to every day</li>
            <li>I love how yoru the last person I talk to every day</li>
            <li>I love how even though I am ugly you find me the most attractive man in world</li>
            <li>I love how you worry about my health and have plans to make me better</li>
            <li>I love how you want me to be the best man I could be</li>
            <li>Your my best freind and confidant</li>
            <li>You are my adventure partner, always up for trying new things.</li>
            <li>Your love is unconditional and unwavering. </li>
            <li>I love your unwavering loyalty</li>
            <li>Your genuine smile.</li>
            <li>Your kindness towards others.</li>
            <li>The way you listen attentively</li>
            <li>The way you understand me without words.</li>
            <li>Your thoughtful gestures.</li>
            <li>Your courage to face challenges.</li>
            <li>Your dedication and hard work.</li>
            <li>The way you make every day feel like a celebration.</li>
            <li>Your patience during difficult times</li>
            <li>The way you make me feel like the luckiest person in the world.</li>
            <li>Your genuine interest in my passions and dreams.</li>
            <li>Your willingness to compromise and find common ground.</li>
            <li>Your ability to make me feel calm and at peace.</li>
            <li>The way you remember the little details.</li>
            <li>Your unwavering honesty.</li>
            <li>Your ability to make me feel like I can conquer the world.</li>
            <li>The way you make me feel cherished.</li>
            <li>Your ability to make even the simplest moments special.</li>
            <li>The way you make me feel like I’m the only person in the room.</li>
            <li>Your encouragement and support in pursuing my dreams.</li>
            <li>Your infectious energy.</li>
            <li>The way you make me feel like I can be myself completely.</li>
            <li>Your unconditional love and acceptance.</li>
            <li>Your dedication to personal growth and self-improvement.</li>
            <li>Your incredible patience with me.</li>
            <li>The way you make me feel like I’m floating on air.</li>
            <li>Your gentle and nurturing nature.</li>
            <li>Your genuine interest in my happiness and well-being.</li>
            <li>Your ability to make me feel like I’m part of something greater.</li>
            <li>Your incredible problem-solving skills.</li>
            <li>The way you make every day feel like a new beginning.</li>
            <li>The way you make me feel like the center of your universe.</li>
            <li>Your incredible adaptability and flexibility.</li>
            <li>Your ability to make me feel like I’m the only person who truly understands you.</li>
            <li>Your the only person in the world who truley understands me</li>
            <li>Your unconditional acceptance of all my flaws and imperfections.</li>
            <li>Your unwavering dedication to our shared values and principles.</li>
            <li>How you treat my family and want to know them</li>
            <li>Your acceptance of my past and children</li>
            <li>Motorcyles (just motorcycles)</li>
            <li>How you make me feel safe to share my emotions</li>
            <li>How all day I just wonder what you are doing</li>
            <li>How everything I eat i wonder if you would like it.</li>
            <li>I love you for you!</li>
        </ol>


        <!--Love Notes Section-->
        
        <script>
            
            var phrase = ["ผมรักคุณ", "ผมชอบคุณตั้งแต่ครั้งแรกที่เราเจอกัน", "ผมคิดถึงคุณตลอดเวลา", "ไม่มีวันไหนที่ผมไม่คิดถึงคุณ", "คุณทำให้ผมมีความสุข",  "ผมโชคดีจริงๆที่ได้เป็นสามีคุณ", "คุณมีความหมายต่อผมมาก", "ผมอยากอยู่กับคุณตลอดไป", "คุณทำให้ชีวิตผมมีความหมาย",  "ผมจะรักคุณตลอดไป", "แต่งงานกับผมนะครับ",  "ผมอยากไปอยู่ตรงนั้นข้างๆคุณ", "คุณคิดถึงผมเท่าที่ผมคิดถึงคุณรึเปล่า", "ผมอยากพบคุณ", "ผมอวังว่าคุณจะอยู่ที่นี่กัผมอ",  "เจอกันในฝันนะ", "ณทำให้ผมมีความสุข","อดทนหน่อยนะ เราจะสู้ไปด้วยกัน", "ถึงตัวเราจะห่างกันแต่ใจผมอยู่กับคุณตลอดเวลา", "ไม่มีวันไหนที่ผมไม่คิดถึงคุณ", "ระยะทางทำให้เรารักกันมากขึ้น"]
            window.onload = function (){
                var len = phrase.length;
                var index = Math.floor(Math.random()*(len+1));
                const divElement = document.getElementById("alertText999");
                const newParagraph = document.createElement("p");
                newParagraph.textContent = phrase[index];
                divElement.appendChild(newParagraph);
            }
        </script>

        <div class="alert alert-dismissible alert-secondary show" style="position: fixed; bottom: 0; width: 400px; min-height: 200px;" id="alertText999">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h1> Hello Fa, </h1>
            
        </div>



    </div>


    
 
    <%- include("header/footer.ejs") %>

  </html>


