<style>
    .wrapper{ /* this sets the width of accordian and centers it */
        min-width: 95%;
        justify-self: center;
    }
    .accordion-item table{
        width: 95%;
    }

    .col0{
        width: 10%;
    }

    .col1{
        width:30%;
    }

    .col2{
        width: 50%;
    }


</style>

<body>
    <header>
        <%- include("header/header.ejs") %>
    </header>
    <div class="wrapper">
        <div class="accordion" id="accordionExample">
            <% for(let i=0; i<dateData.length; i++){ %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>">
                            <%- Intl.DateTimeFormat('en-US',{dateStyle: "full"}).format(dateData[i][0].startdate) %>
                        </button>
                    </h2>
                    <div id="collapse<%=i%>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                      <th scope="col" class="col0">Start Time</th>
                                      <th scope="col" class="col0">End Time</th>
                                      <th scope="col" class="col1">Item</th>
                                      <th scope="col" class="col2">Note</th>
                                    </tr>
                                  </thead>
                                <% for(let p=0; p<dateData[i].length; p++){ %> 
                                    <tbody>
                                        <tr class="table-secondary">
                                            <th scope="row"> <%- String(dateData[i][p].starttime).slice(0,5) %></th>
                                            <td><%- String(dateData[i][p].endtime).slice(0,5) %> </td>
                                            <td> <%- dateData[i][p].item %></td>
                                            <td><%- dateData[i][p].note %></td>
                                        </tr>
                                    </tbody>
                                <%}%>
                            </table>
                            
                                
                            
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <footer>
        <%- include("header/footer.ejs") %>
    </footer>
</body>