  <body>
    <header>
        <%- include("header/header.ejs") %>
    </header>

    <!-- Our Dynamic Table-->
    <table class="table table-hover" id="heading">
      <h1>
        Wedding to do
      </h1>
    </table>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Item</th>
          <th scope="col">Note</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% for(let item of listItem){%>
          <tr class="table-secondary">
            <th scope="row">
              <form action="/delete" method="post">
                <input type="checkbox" onchange="this,form.submit()" name="deleteItemID" value="<%=item.id%>">
              </form>
            </th>
          <td>
            <p id="title<%=item.id%>" >
              <%=item.title %>
              <form>
                <input id="input_title<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off" autofocus="true" hidden="true" />
              </form>
            </p>
            
          </td>
          <td>
            <p id="note<%=item.id%>">
              <%=item.note %>
              <form>
                <input id="input_note<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.note %>" autocomplete="off" autofocus="true" hidden="true" />
              </form>
            </p>
          </td>
          <td>
            <form class="edit" action="/edit" method="post">
              <input type="hidden" name="updatedItemId" value="<%= item.id%>">
              <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon" src="/images/check_icon.png" alt="tick image"></button>
            </form>
            <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon" src="/images/pencil_icon.png" alt="pencil image"></button>
          </td>
          </tr>
        <% } %>
        <tr class="table-dark">
          <th scope="row"> </th>
          <td>
            <form>
              <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" class="form-control toDo" id="inputDefault"/>
            </form>
          </td>
          <td>
            <form>
              <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" class="form-control toDO" id="inputDefault"/>
            </form>
          </td>
          <td> 
            <form class="item" action="/add" method="post">
              <button class="add" type="submit" name="list" value="Wedding to do" ><img class="icon plus" src="/images/plus-circle.svg" alt="plus image"></button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>


  </body>

  <script>
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true)
      document.getElementById("note" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input_title" + id).removeAttribute("hidden")
      document.getElementById("input_note" + id).removeAttribute("hidden")
    }
  </script>
